body {
}
.boton {
    font-size:x-large;
    background-color: #00723f;
    border-radius: 30px;
}

    .boton:hover {
        background-color: #000000
    }
.box {
    
    border-radius: 30px;
    outline: none;
    padding: 10px;
}
.margen{
    margin-right: 60px;
}

.xxlarge{
    font-size:xx-large;
}