
.cls-1 {
    clip-path: url(#clip-Login_RSA);
}

.cls-2 {
    fill: #131313;
}

.cls-12, .cls-13, .cls-2 {
    font-size: 49px;
}

.cls-2, .cls-4, .cls-5 {
    font-family: TimesNewRomanPS-BoldMT, Times New Roman;
    font-weight: 700;
}

.cls-3 {
    fill: rgba(245,244,244,0.99);
}

.cls-3, .cls-6, .cls-7, .cls-8 {
    stroke: #707070;
}

.cls-4 {
    fill: #776f6f;
    font-size: 20px;
}

.cls-5 {
    fill: #0a0a0a;
    font-size: 26px;
    text-decoration: underline;
}

.cls-16, .cls-6 {
    fill: none;
}

.cls-6 {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-10, .cls-7 {
    fill: #00723f;
}

.cls-12, .cls-13, .cls-18, .cls-8, .cls-9 {
    fill: #fff;
}

.cls-9 {
    font-size: 32px;
    font-family: TimesNewRomanPSMT, Times New Roman;
}

.cls-11 {
    font-size: 71px;
    font-family: SegoeUI, Segoe UI;
}

.cls-12 {
    font-family: MinionPro-Regular, Minion Pro;
}

.cls-13 {
    font-family: MinionPro-Semibold, Minion Pro;
    font-weight: 600;
}

.cls-14 {
    fill: url(#pattern);
}

.cls-15, .cls-17 {
    stroke: none;
}

.cls-17 {
    fill: #707070;
}

.cls-19 {
    filter: #Rectangle_1521;
}

.encabezado {
    background-color: #00723f
}
